{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form with ['bootstrap_3_layout.html.twig'] %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
<div class="row">
    <div class="col-lg-5">
        <h2>{{ 'profile.edit.subtitle.identify'|trans }}</h2>
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        <p><em class="text-info">{{ 'registration.text_password_format'|trans }}</em></p>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
        <h2>{{ 'profile.edit.subtitle.connexion'|trans }}</h2>
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        {#{{ form_widget(form) }}        #}
        <div>
            <input class="btn btn-default" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </div>
</div>
{{ form_end(form) }}
