{% extends "::profile.layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}
{% block title %}
    {{ parent() }} - {{ 'observations.add_page.title'|trans }}
{% endblock %}

{% block body_member_space %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="enregistrement col-12">
                    <h1 class="text-center">{{ 'observations.add_page.title'|trans|upper }}</h1>
                    <p class="text-center">{{ 'observations.add_page.subtitle'|trans }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="well">
                        {% include ':Observations/treatment:form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/plugins/datetimepicker/jquery.datetimepicker.css') }}" />
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/datetimepicker/jquery.datetimepicker.full.min.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $.datetimepicker.setLocale('{{ locale }}');

            $('#observation_datetimeObservation_date').datetimepicker({
                format: "Y-m-d",
                timepicker: false,
                datepicker: true
            });
            $('#observation_datetimeObservation_time').datetimepicker({
                format: "H:i",
                timepicker: true,
                datepicker: false,
                step:10
            });
        });
    </script>
    {{ form_javascript(form.species) }}
{% endblock %}

