{% trans_default_domain 'AppBundle' %}
{# personnalise la taille du champ nb d'individu #}
{% form_theme form _self %}
{% block integer_widget %}
    <div class="col-lg-1 no-padding">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}
{{ form_start(form) }}
<div class="row">
    <div class="col-lg-12">
        {{ form_row(form.datetimeObservation) }}
        {{ form_row(form.department)}}
        {{ form_row(form.locality) }}
        {{ form_row(form.species) }}
        {{ form_row(form.nbIndividual) }}
        {{ form_row(form.comment) }}
    </div>
    <div class="col-lg-12">
        <h2>{{ 'observations.form.image.title'|trans }}</h2>
        <div class="images" id="observation_images" data-prototype="{{ form_row(form.images.vars.prototype)|e('html_attr') }}">
            {% for image in form.images %}
                <div class="picture" id="photo-{{ loop.index }}">
                    <p class="text-right"><a href="#" class="delete-image btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'observations.form.image.delete_btn'|trans }}</a></p>
                    {{ form_row(image, {'label': ( 'observations.form.image.label'|trans ~ ' ' ~ loop.index) }) }}
                </div>
            {% endfor %}
        </div>
        <a href="#" id="add-another-image" class="btn-large btn-default pull-right">{{ 'observations.form.image.add_btn'|trans }}</a>
    </div>
    <div class="col-lg-12">
        <button type="submit" class="btn btn-default">{{ 'observations.form.add_submit'|trans }}</button>
    </div>
</div>

{{ form_end(form) }}
<script type="text/javascript">
    $(function(){
        var $container = $('#observation_images');
        var index = $container.find('div.picture').length;

        $('#add-another-image').click(function(e){
            addImage($container);

            e.preventDefault();

            return false;
        });

        if (index == 0) {
            addImage($container);
        }

        function addImage($container)
        {
            var currentIndex = $('#observation_images').find('div.picture').length;


            var prototype =  $container.attr('data-prototype')
                            .replace(/__name__label__/g, '{{ 'observations.form.image.label'|trans|e('js') }} <span class="counter">' + (currentIndex+1) + '</span>')
                            .replace(/__name__/g, index)
                 ;

            var template = '<div class="picture" id="photo-'+index+'">'
                                + '<p class="text-right"><a href="#" class="delete-image btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'observations.form.image.delete_btn'|trans|e('js') }}</a></p>'
                                +prototype
                            +'</div>';

            var $prototype = $(template);

            $container.append($prototype);

            // Incrémentation du compteur de photo
            index++;

            displayOrNotAddImage();
        }

        $(document).on('click', '.delete-image', function(e){
            var $delBtn = $(this);


            bootbox.dialog({
                message: '{{ 'observations.form.image.delete_confirm_message'|trans|e('js') }}',
                title: 'Question',
                buttons:{
                    cancel:{
                        label: 'Annuler'
                    },
                    delete:{
                        label: 'Supprimer',
                        className: 'btn btn-danger',
                        callback: function(){
                            $delBtn.parents('div.picture').remove();
                            displayOrNotAddImage();
                            redefineCounter();
                        }
                    }
                }
            });

            e.preventDefault();
            return false;
        });

        /**
         * Limite le nombre d'ajout de photos
         */
        function displayOrNotAddImage(){
            var nbElements = $('#observation_images').find('div.picture').length;

            $('#add-another-image').css('display', 'inline');

            if(nbElements > 3){
                $('#add-another-image').css('display', 'none');
            }
        }

        /**
         * Redéfinie les numéros des photos
         */
        function redefineCounter(){
            var $picturesForm = $('#observation_images').find('div.picture');

            var i= 1;

            $picturesForm.each(function(){
                $(this).find('.counter').text(i);

                i++;
            });
        }
    });
</script>