{% trans_default_domain 'AppBundle' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
 {#personnalise la taille du champ nb d'individu#}
{% form_theme form _self %}
{% block integer_widget %}
    <div class="col-lg-2 no-padding">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{{ form_start(form) }}
    {#{{ form_errors(form.longitude) }}#}
    {#{{ form_errors(form.latitude) }}#}
<div class="row">
    <div class="col-lg-12">
        {{ form_row(form.datetimeObservation) }}
    </div>
</div>
<div class="row">
    {{ form_row(form.department)}}
</div>
<div class="row">
    {{ form_row(form.city) }}
</div>
<div class="row">
    {{ form_row(form.locality) }}
</div>
<div class="row">
    <div class="form-group">
        <label class="col-lg-4 control-label">{{ 'observations.form.map_position'|trans }}<br /><small>{{ 'observations.form.coordinates'|trans }} : <span id="display_coordinates"></span></small></label>
        <div id="map" class="col-lg-6 col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1" style="height: 400px"></div>
    </div>
</div>
<div class="row">
    {{ form_row(form.species) }}
</div>
<div class="row">
    {{ form_row(form.nbIndividual) }}
</div>
<div class="row">
    {{ form_row(form.comment) }}
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-center">{{ 'observations.form.image.title'|trans }}</h2>
        {{ form_widget(form.images) }}
        <a href="#" id="add-another-image" class="btn btn-large btn-default pull-right">{{ 'observations.form.image.add_btn'|trans }}</a>
    </div>
    {{ form_widget(form.longitude) }}
    {{ form_widget(form.latitude) }}
    {{ form_rest(form) }}
    <div class="col-lg-12 text-center btn-saisie">
        <button type="submit" class="btn-lg btn-default">{{ 'observations.form.add_submit'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}

{# script JS d'initialisation des variables utilisées dans les fichiers JS @todo A modifier quand transformation des script JS en plugin Jquery #}
<script type="text/javascript">
    //variables pour le script d'ajout/suppression de photo
    var messageImageConfirmationDelete = '{{ 'observations.form.image.delete_confirm_message'|trans|e('js') }}';
    var messageImageConfirmationTitle = '{{ 'observations.form.image.delete_confirm_title'|trans|e('js') }}';
    var cancelBtnLabel = '{{ 'observations.form.image.cancel_btn'|trans|e('js') }}';
    var delBtnLabel = '{{ 'observations.form.image.delete_btn'|trans|e('js') }}';
    //variable pour le script de géolocalisation
    var messageSelectCityBefore = '{{ 'observations.form.messageSelectCityBefore'|trans|e('js') }}';
    var messagelocalityCoordinatesNotFound =  '{{ 'observations.form.messageLocalityCoordinatesNotFound'|trans|e('js') }}';
    var messageLocalityNotFound = '{{ 'observations.form.messageLocalityNotFound'|trans|e('js') }}';
    var defaultLatitude = {{ france_location.latitude }};
    var defaultLongitude = {{ france_location.longitude }};
    var defaultScrollwheel = true;
    var defaultZoom = 5;

    var urlJsonGetCityByName = '{{ path('app_observations_ajax_get_city_by_name') }}';
</script>
{# Chargement du fichier js qui traite l'ajout/suppression des photos #}
<script type="text/javascript" src="{{ asset('js/app/observations/edit_images.js') }}"></script>
{# Chargement de l'API Google Map #}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_key }}"></script>
{# Chargement du fichier js qui traite la géolocalisation sur la carte #}
<script type="text/javascript" src="{{ asset('js/app/observations/edit_geolocalisation.js') }}"></script>