{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Contact
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="contacter">
                <h1 class="text-center">CONTACTER L'ASSOCIATION</h1>
                <p class="text-center">Si vous avez une question ou une demande, envoyez-nous un message à l'aide du formulaire suivant:</p><br/>


                <div class="text-center col-lg-6 col-md-6">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.prenom, "Votre prénom", {'label_attr': {'class': 'col-lg-offset-2 col-md-offset-2 col-sm-pull-2 col-lg-5 col-md-5 col-sm-5 col-xs-offset-2 col-xs-8 control-label'}}) }}
                        {{ form_errors(form.prenom) }}

                        <div class="col-lg-offset-1 col-md-offset-1 col-sm-pull-3 col-lg-4 col-md-4 col-sm-3 col-xs-offset-2 col-xs-8">
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.nom, "Votre nom", {'label_attr': {'class': 'col-lg-offset-2 col-md-offset-2 col-sm-pull-2 col-lg-5 col-md-5 col-sm-5 col-xs-offset-2 col-xs-8 control-label'}}) }}
                        {{ form_errors(form.nom) }}

                        <div class="col-lg-offset-1 col-md-offset-1 col-sm-pull-3 col-lg-4 col-md-4 col-sm-3 col-xs-offset-2 col-xs-8">
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email, "Votre adresse e-mail", {'label_attr': {'class': 'col-lg-offset-2 col-md-pull-2 col-sm-pull-2 col-lg-5 col-md-5 col-sm-5 col-xs-offset-2 col-xs-8 control-label'}}) }}
                        {{ form_errors(form.email) }}

                        <div class="col-lg-offset-1 col-md-offset-1 col-sm-pull-3 col-lg-4 col-md-4 col-sm-3 col-xs-offset-2 col-xs-8">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.message, "Votre message", {'label_attr': {'class': 'col-lg-offset-2 col-md-offset-2 col-sm-pull-2 col-lg-5 col-md-5 col-sm-5 col-xs-offset-2 col-xs-8 control-label'}}) }}
                        {{ form_errors(form.message) }}

                        <div class="col-lg-offset-1 col-md-offset-1 col-sm-pull-3 col-lg-4 col-md-4 col-sm-3 col-xs-offset-2 col-xs-8">
                            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-default'}}) }}

                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>

                <div class="row col-lg-6 col-md-6">
                    <div class=" carte col-lg-pull-4 col-md-pull-6 col-lg-4 col-md-2 col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11430.186855804339!2d5.139300071919783!3d44.257570911188076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1469015680600" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-offset-1 col-md-offset-3 col-sm-offset-3 col-xs-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <p><b>Nos amis les oiseaux</b></p>
                        <p>Rue Edith Piaf</p>
                        <p>84110 Faucon</p><br/>
                        <p>06.12.34.56.78</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}