{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Nouveau mot de passe
{% endblock %}

{% block body %}
    <h1 class="newmdp text-center">CHANGEMENT DE MOT DE PASSE</h1>
    <p class="text-center">Saisissez votre nouveau mot de passe et cliquez sur valider.</p>

    <div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.mdp, "Nouveau mot de passe:", {'label_attr': {'class': 'col-lg-6 col-sm-8 col-sm-pull-4 col-xs-offset-4 col-xs-8 control-label'}}) }}
            {{ form_errors(form.mdp) }}

            <div class="col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-7">
                {{ form_widget(form.mdp, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.newmdp, "Confirmez le mot de passe:", {'label_attr': {'class': 'col-sm-pull-4 col-sm-8 col-xs-offset-4 col-xs-8 control-label'}}) }}
            {{ form_errors(form.newmdp) }}

            <div class="col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-7">
                {{ form_widget(form.newmdp, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="changement col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 col-lg-4 col-md-4 col-sm-6 col-xs-7">
            {{ form_widget(form.Valider, {'attr': {'class': 'btn-lg btn-default'}}) }}
        </div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}