{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Mes observations
{% endblock %}

{% block body %}
    <div class="container ">
        <ul id="menu">
            <li>
                <p>BERNARD LOISEAU</p>
                <p>Naturaliste</p>
            </li>
            <li>
                <a href="{{ path('oc_core_profil') }}">Profil</a>
            </li>
            <li>
                <a href="{{ path('oc_core_observations') }}">Mes observations à valider</a>
            </li>
            <li>
                <a href="{{ path('oc_core_validations') }}">Validations</a>
            </li>
        </ul>
    </div>

    <div class="blockobs">
        <h1 class="titreobs col-md-offset-4 col-xs-offset-1">MES OBSERVATIONS</h1>

        <div class="legende col-md-offset-4 col-xs-offset-1">
            <span><img src="">Observations validées</span><br>
            <span><img src="">Observations en attente de validation</span><br>
            <span><img src="">Observation rejetée</span><br>
        </div>

        <a class="lien col-md-offset-4 col-xs-offset-1" href="{{ path('oc_core_saisie') }}">Ajouter une observation</a>

        <div class="tableau col-md-offset-3 col-md-9">
            <table class="text-center table table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Commune</th>
                        <th>Espèce</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Date"></td>
                        <td data-label="Commune"></td>
                        <td data-label="Espèce"></td>
                        <td data-label="Statut"></td>
                        <td data-label="Actions"><a class="text-center btn btn-warning" href="#" role="button">Modifier</a>
                            <a class="text-center btn btn-danger" href="{{ path('oc_core_confirmation') }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="pagination col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-sm-push-5 col-sm-4 col-xs-push-4 col-xs-6">
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2 </a></li>
                    <li><a href="#">3 </a></li>
                    <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>




{% endblock %}