{% extends 'layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}
{% block title %}
    {{ parent() }} - {{ 'profile.common.title' |trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="main">
            <div class="row">
                <ul id="menu">
                    <li>
                        <p class="hidden-xs hidden-sm">{{ app.user.lastName }} {{ app.user.firstName }}</p>
                        <p class="hidden-xs hidden-sm">{{ app.user.getFullNameRole }}</p>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}">{{ 'profile.common.profile_link' |trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('app_observations_list') }}">{{ 'profile.common.my_observations_link' |trans }}</a>
                    </li>
                    {% if is_granted('ROLE_PRO') %}
                    <li>
                        <a href="{{ path('app_observations_validate') }}">{{ 'profile.common.observations_validate_link' |trans }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="blockprofil col-lg-8 col-md-9 col-md-push-3">
                {% block body_member_space %}
                {% endblock body_member_space %}
            </div>
        </div>
    </div>
{% endblock body %}