{% block simple_filter_widget %}
    {% spaceless %}
        <div class="col-lg-4">
            <input type="text" id="filter_{{ id }}" data-choice-field-name="{{ id }}">
           &nbsp;
            <i class="glyphicon glyphicon-info-sign text-info" data-container="body" data-toggle="popover" data-placement="top" title="{{ popover_title|trans({}, translation_domain) }}" data-content="{{ popover_content|trans({}, translation_domain) }}"></i>
        </div>
        <div class="col-lg-4">{{ block('choice_widget') }}</div>
    {% endspaceless %}
    <script type="text/javascript">
        var filterElement = document.getElementById('filter_{{ id }}');
        filterElement.addEventListener("keyup", function(){
            var value = this.value;

            var contain = new RegExp(value,"gi");

            console.log(contain);

            var choiceList = document.getElementById('{{ id }}');

            console.log(typeof(choiceList.options));
            for(var i =0;i < choiceList.options.length; i++){
                option =   choiceList.options[i];
                option.style.display = 'none';
                if(contain.test(option.text)){
                    option.style.display = 'block';
                }
            }
        });
    </script>
{% endblock %}