{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
    <div class="form-group">
        {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'control-label'}}) }}
        <div class="">
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.firstName) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'control-label'}}) }}
        <div class="">
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'control-label'}}) }}
        <div class="">
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'control-label'}}) }}
        <div class="">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second, "Confirmez le mot de passe", {'label_attr': {'class': 'control-label'}}) }}
        <div class="">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="role_pro" value="on"> Je suis un naturaliste professionnel
        </label>
    </div>
    <button type="submit" class="btn btn-default">Inscrivez-vous</button>
{{ form_end(form) }}