{% trans_default_domain 'FOSUserBundle' %}
<p><em class="text-info">{{ 'registration.text_password_format'|trans }}</em></p>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.rolePro) }}
    <button type="submit" class="btn-lg btn-default col-lg-offset-1 col-md-offset-1 col-sm-offset-5 col-xs-offset-5">{{ 'form.subcribeBtn'|trans }}</button>
{{ form_end(form) }}