{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Saisie
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="enregistrement col-12">
                    <h1 class="text-center">SAISIE D'UNE OBSERVATION</h1>
                    <p class="text-center">Saisissez les informations relatives à votre observation, ajoutez la position sur la carte puis cliquez sur envoyer.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="well">
                        {% include 'Observations/form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/plugins/datetimepicker/jquery.datetimepicker.css') }}" />
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/datetimepicker/jquery.datetimepicker.full.min.js') }}"></script>
    <script type="text/javascript">

        $(function(){

            $.datetimepicker.setLocale('fr');

            $('#observation_datetimeObservation_date').datetimepicker({
                format: "Y-m-d",
                timepicker: false,
                datepicker: true
            });
            $('#observation_datetimeObservation_time').datetimepicker({
                format: "H:i",
                timepicker: true,
                datepicker: false,
                step:10
            });

        });
    </script>
    {{ form_javascript(form.species) }}
{% endblock %}


