{% trans_default_domain 'AppBundle' %}
{# si le lieu dit est renseigné on prend les coordonnées de celui-ci sinon on prend les coordonnées de la ville #}
{% if observation.locality is not null %}
    {% set longitude = observation.longitude   %}
    {% set latitude = observation.latitude   %}
{% else %}
    {% set longitude = observation.city.longitude   %}
    {% set latitude = observation.city.latitude   %}
{% endif %}
<div class="row">
    <div id="map" class="carte col-md-6">
        <div id="map"></div>
        {#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11380599.83893024!2d-6.7798041561623155!3d45.86197048753587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1469306493238" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>#}
    </div>
    <div id="observation" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" class="col-md-6 observation">
        <h1>{{ 'observations.detail.title'|trans({'%date%': observation.datetimeObservation|date('d/m/Y'), '%hour%': observation.datetimeObservation|date('H:i')  }) }}</h1>
        <p>{{ 'observations.detail.subtitle'|trans({'%locality%': observation.city.adminName, '%author%': observation.author.fullName}) }}</p>
        <h2>{{ observation.species.frenchName }} (<em>{{ observation.species.latinName }}</em>)</h2>
        <p class="comment">{{ observation.comment }}</p>
    </div>
</div>
{% if observation.images.count() > 0 %}
    <div class="row">
        <div class="photos">
            {% for image in observation.images %}
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="{{ vich_uploader_asset(image, 'file') }}" title="{{ image.alt }}" class="thumbnail" data-lightbox="species">
                        <img class="" src="{{ vich_uploader_asset(image, 'file')|imagine_filter('thumb') }}" alt="{{ image.alt }}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
