{% trans_default_domain 'AppBundle' %}
{# si le lieu dit est renseigné on prend les coordonnées de celui-ci sinon on prend les coordonnées de la ville #}
{% if observation.locality is not null %}
    {% set longitude = observation.longitude   %}
    {% set latitude = observation.latitude   %}
{% else %}
    {% set longitude = observation.city.longitude   %}
    {% set latitude = observation.city.latitude   %}
{% endif %}
<div class="row">
    <div class="col-md-6">
        <div id="map" class="carte"></div>
        <div class="text-center">
            <em class="gps">Longitude :  {{ longitude }}/ Latitude {{ latitude }}</em>
        </div>
    </div>
    <div id="observation" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" class="col-md-6 observation">
        <h1>{{ 'observations.detail.title'|trans({'%date%': observation.datetimeObservation|date('d/m/Y'), '%hour%': observation.datetimeObservation|date('H:i')  }) }}</h1>
        <p>{{ 'observations.detail.subtitle'|trans({'%locality%': observation.city.adminName, '%author%': observation.author.fullName}) }}</p>
        <h2>{{ observation.species.frenchName }} (<em>{{ observation.species.latinName }}</em>)</h2>
        <p class="comment">{{ observation.comment }}</p>
    </div>
</div>
{% if observation.images.count() > 0 %}
    <div class="row">
        <div class="photos">
            {% for image in observation.images %}
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="{{ vich_uploader_asset(image, 'file') }}" title="{{ image.alt }}" class="thumbnail" data-lightbox="species">
                        <img class="" src="{{ vich_uploader_asset(image, 'file')|imagine_filter('thumb') }}" alt="{{ image.alt }}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
