<li data-id="species-{{ observation.id }}" data-title="{{ observation.species.frenchName }}, {{ 'observations.list.date_text'|trans({'%date%': observation.datetimeObservation|date('d/m/Y'), '%hour%': observation.datetimeObservation|date('H:i') }, 'AppBundle')|lower }}" data-longitude="{{ observation.locality.longitude }}" data-latitude="{{ observation.locality.latitude }}" >
    <h4 class="text-right"><a href="{{ path('app_observation_detail', {'id': observation.id }) }}">{{ observation.species.frenchName }}</a></h4>
    <p class="text-right">{{ 'observations.list.date_text'|trans({'%date%': observation.datetimeObservation|date('d/m/Y'), '%hour%': observation.datetimeObservation|date('H:i') }, 'AppBundle') }}</p>
    <p class="text-right">{{ observation.locality.adminName }} ({{ observation.locality.department.departmentCode }})</p>
</li>