{# si le lieu dit est renseigné on prend les coordonnées de celui-ci sinon on prend les coordonnées de la ville #}
{% if observation.locality is not null %}
    {% set longitude = observation.longitude %}
    {% set latitude = observation.latitude   %}
{% else %}
    {% set longitude = observation.city.longitude   %}
    {% set latitude = observation.city.latitude   %}
{% endif %}
<li data-id="species-{{ observation.id }}" data-title="{{ observation.species.frenchName }}, {{ 'observations.list.date_text'|trans({'%date%': observation.datetimeObservation|date('d/m/Y'), '%hour%': observation.datetimeObservation|date('H:i') }, 'AppBundle')|lower }}" data-longitude="{{ longitude }}" data-latitude="{{ latitude }}" >
    <h4 class="text-center">
        <a href="{{ path('app_observation_detail', {'id': observation.id }) }}">{{ observation.nbIndividual }} {{ observation.species.frenchName }} ({{ observation.species.latinName }})</a>
        {% if observation.images|length > 0 %}
            <i class="glyphicon  glyphicon-picture"><span class="badge">{{ observation.images|length }}</span></i>
        {% endif %}
    </h4>
    <p class="text-center">{{ 'observations.list.date_text'|trans({'%date%': observation.datetimeObservation|localizeddate('full', 'none', locale), '%hour%': observation.datetimeObservation|date('H:i') }, 'AppBundle') }}</p>
    <p class="text-center">{{ observation.city.adminName }} ({{ observation.city.department.departmentCode }})</p>
    <p class="text-center">- {{ observation.author.firstName }} {{ observation.author.lastName }}</p>
</li>