{% extends "layout.html.twig" %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

{% trans_default_domain 'AppBundle' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.min.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'search.title_page'|trans }}
{% endblock %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
{% block body %}
    <div class="container">
        <div class="main">
            <div class="recherche">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-center">{{ 'search.title_page'|trans|upper }}</h1>
                        <p class="text-center">{{ 'search.subtitle_page'|trans }}</p><br/>
                    </div>
                </div>
                <div class="row">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="well col-lg-12">
                        <div class="row">
                                <div class="form-group col-lg-4">
                                    <label class="control-label">{{ 'search.period_label'|trans }}</label>
                                </div>
                                <div class="form-group col-lg-4">
                                    {{ form_label(form.startDate, ('search.period_selector_first_label'|trans), {'label_attr': {'class': 'col-lg-4'}}) }}
                                    {{ form_errors(form.startDate) }}
                                    <div class="input-group col-lg-8">
                                        {{ form_widget(form.startDate) }}
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    {{ form_label(form.endDate, ('search.period_selector_second_label'|trans), {'label_attr': {'class': 'col-lg-4'}}) }}
                                    {{ form_errors(form.endDate) }}
                                    <div class="input-group col-lg-8">
                                        {{ form_widget(form.endDate) }}
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            {{ form_row(form.department) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.species) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            {{ form_rest(form) }}
                            <button type="submit" class="btn-lg btn-default">{{ 'search.submit'|trans|upper }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>

                {% if resultats is not null %}
                    <div class="row col-lg-6 col-md-6">
                        <div id="map" style=" width:500px;height:350px">
                            {#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11377536.803269157!2d-6.785122310328994!3d45.87693233762985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1469293260473" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>#}
                        </div>
                    </div>

                    <div class="row col-lg-6 col-md-6">
                        <div class="resulttext col-lg-push-4 col-md-push-5 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-6 col-sm-10 col-xs-6">
                            {% include ':Observations:list.html.twig' with {'observations' : resultats} %}
                            {#<ul>#}
                                {#<li>#}
                                    {#<h2>Date</h2>#}
                                    {#<h3>city</h3>#}
                                    {#<p>Espèce</p>#}
                                {#</li>#}
                            {#</ul>#}
                        </div>

                        <nav class="">
                            {# display navigation #}
                            <div class="navigation pull-right">
                                {{ knp_pagination_render(resultats) }}
                            </div>
                        </nav>
                        {#<a class="text-center col-xs-offset-4 col-sm-4 col-xs-4 hidden-lg hidden-md btn-lg btn-default" href="#" role="button">Resultats suivants</a>#}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset ('js/plugins/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript">

        $(function () {
            $('#recherche_startDate').datepicker({
                format: "dd/mm/yyyy",
                language: "fr",
                autoclose: true
            });
            $('#recherche_endDate').datepicker({
                format: "dd/mm/yyyy",
                language: "fr",
                autoclose: true
            });
        });
   </script>
   {% include ':Observations:observations_location.js.html.twig' with {'gps': gps} %}
   {{ form_javascript(form.species) }}

    <script type="text/javascript">
        $(function(){
            var observationsList = $('#observations-list');

            console.log(observationsList.find('li').length);
            observationsList.find('li').each(function() {
                console.log($(this).data('latitude') + ' - ' + $(this).data('longitude'));
                var lat = parseFloat($(this).data('latitude'));
                var lgt = parseFloat($(this).data('longitude'));
                var title = $(this).data('title');

                setMarker(title, lat, lgt);
            });
        });
    </script>

{% endblock %}