{% extends "layout.html.twig" %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
{% form_theme form _self %}
{% block form_group_class -%}
    col-lg-8
{%- endblock form_group_class %}
{% trans_default_domain 'AppBundle' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.min.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'search.title_page'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="recherche">
                <div class="row">
                    <div class="text-center">
                        <h1>{{ 'search.title_page'|trans|upper }}</h1>
                        <p>{{ 'search.subtitle_page'|trans }}</p><br/>
                    </div>
                </div>
                <div class="row">
                    {{ form_start(form, {'action': path('app_observations_results')}) }}
                    {{ form_errors(form) }}
                    <div class="well col-lg-12">
                        <div class="row">
                                <div class="form-group col-lg-3 col-lg-push-2 col-xs-4">
                                    <label class="control-label">{{ 'search.period_label'|trans }}</label>
                                </div>
                                <div class="form-group col-lg-4 col-lg-push-1 col-xs-12">
                                    {{ form_row(form.startDate, {'label': ('search.period_selector_first_label'|trans)}) }}
                                </div>
                                <div class="form-group col-lg-4 col-lg-push-1 col-xs-12">
                                    {{ form_row(form.endDate, {'label': ('search.period_selector_second_label'|trans)}) }}
                                </div>
                        </div>
                        <div class="row">
                            {{ form_row(form.department, {'label': ('search.department_label'|trans), 'label_attr': {'class': 'col-lg-4'}, 'attr': {'form_group_class': 'col-lg-8'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.city, {'label': ('search.town_label'|trans), 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.species) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            {{ form_rest(form) }}
                            <button type="submit" class="btn-lg btn-default">{{ 'search.submit'|trans|upper }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                {% if null != results %}
                    <div class="row">
                    {% if results|length > 0  %}

                        <div class="col-md-6">
                            <div class="map-recherche" id="map" style="width:500px;height:350px">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="resulttext">
                                {% include ':Observations:list.html.twig' with {'observations' : results} %}
                            </div>
                            <nav class="">
                                {# display navigation #}
                                <div class="navigation pull-right">
                                    {{ knp_pagination_render(results) }}
                                </div>
                            </nav>
                        </div>
                    {% else %}
                        <div class="no-result col-lg-12">
                            <p class="text-danger text-center">{{ 'search.no_results'|trans }}</p>
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset ('js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/plugins/bootstrap-datepicker/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript">

        $(function () {
            $('#search_startDate').datepicker({
                format: "dd/mm/yyyy",
                language: '{{ locale }}',
                autoclose: true
            });
            $('#search_endDate').datepicker({
                format: "dd/mm/yyyy",
                language: '{{ locale }}',
                autoclose: true
            });
        });
   </script>
    {% if results is not null %}
       {% include ':Observations:observations_location.js.html.twig' with {'zoom': 5, 'latitude': france_location.latitude , 'longitude': france_location.longitude } %}
        <script type="text/javascript">
            $(function(){
                var observationsList = $('#observations-list');

                console.log(observationsList.find('li').length);
                observationsList.find('li').each(function() {
                    console.log($(this).data('latitude') + ' - ' + $(this).data('longitude'));
                    var lat = parseFloat($(this).data('latitude'));
                    var lgt = parseFloat($(this).data('longitude'));
                    var title = $(this).data('title');

                    setMarker(title, lat, lgt);
                });
            });
        </script>
    {% endif %}
   {{ form_javascript(form.species) }}
{% endblock %}