{% trans_default_domain 'AppBundle' %}
{% if vote == true %}
    {% set voteStr = ('observations.validation.validate'|trans) %}
{% else %}
    {% set voteStr = ('observations.validation.refuse'|trans) %}
{% endif %}
<p>
    {{ 'observations.validation.email.hello'|trans({'%fullname%': observation.author.fullName}) }}<br /><br />
    {{ 'observation.validation.email.your_observation_has'|trans({'%vote%':voteStr}) }}<br />
    {{ 'observation.validation.email.following_link_text'|trans }} <a href="{{ url('app_observation_detail', {'id': observation.id}) }}">{{ 'link_text'|trans }}</a>
    {{ 'observation.validation.email.comment_text'|trans }}<br /><br />
    {{ comment }}<br /><br />
    {{ 'email.sign'|trans }}
</p>