{% extends "profile.layout.html.twig" %}
{% trans_default_domain 'AppBundle'  %}
{% block title %}
    {{ parent() }} - {{ 'observations.validation.list_to_validate.title'|trans }}
{% endblock %}

{% block body_member_space %}
    <div class="row">
        <div class="blockobs">
            <h1 class="text-center">{{ 'observations.validation.list_to_validate.title'|trans|upper }}</h1>

            <div class="validations responsive-table-line">
                <table class="table table-bordered table-condensed table-body-center">
                    <thead>
                    <tr>
                        <th>{{ 'observations.table.header.date'|trans }}</th>
                        <th>{{ 'observations.table.header.city'|trans }}</th>
                        <th>{{ 'observations.table.header.species'|trans }}</th>
                        <th>{{ 'observations.table.header.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for observation in pagination %}
                    <tr>
                        <td>{{ observation.datetimeObservation|date('d/m/Y') }}</td>
                        <td>{{ observation.city.adminName }}</td>
                        <td>{{ observation.species.frenchName }}</td>
                        <td data-title="Actions"><a class="text-center btn btn-default" href="{{ path('app_observation_validate', {'id': observation.id }) }}" title="{{ 'observations.validation.to_validate.validate_link_btn'|trans }}" role="button">{{ 'observations.validation.to_validate.validate_link_btn'|trans }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {# display navigation #}
            <div class="navigation pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock body_member_space %}