{% extends "layout.html.twig" %}
{# si le lieu dit est renseigné on prend les coordonnées de celui-ci sinon on prend les coordonnées de la ville #}
{% if observation.locality is not null %}
    {% set longitude = observation.longitude   %}
    {% set latitude = observation.latitude   %}
{% else %}
    {% set longitude = observation.city.longitude   %}
    {% set latitude = observation.city.latitude   %}
{% endif %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}
{% block title %}
    {{ parent() }} - {{ 'observations.to_validate.title'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
             <div class="retourliste text-center">
                 <a class="btn-lg btn-default" href="{{ path('app_observations_validate') }}" role="button">{{ 'observations.validation.to_validate.return_btn'|trans }}</a>
             </div>
            <div class="block-detail">
                {% include ':Observations:detail.block.html.twig' with {'observation': observation } %}

                {{ form_start(form, {'action': path('app_observation_save_vote', {'id': observation.id})}) }}
                <div class="commentaire">
                {{ form_row(form.comment, {'label': ('observations.validation.to_validate.form_label_comment'|trans)}) }}
                </div>
            </div>
            <div class="text-center btn-valider">
                    {{ form_row(form.valid, {'label': ('observations.validation.to_validate.form_btn_valid'|trans), 'attr': {'class': 'btn-lg btn-default'}}) }}
                    {{ form_row(form.refuse, {'label': ('observations.validation.to_validate.form_btn_refuse'|trans), 'attr': {'class': 'btn-lg btn-danger'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    {% include ':Observations:observations_location.js.html.twig' with {'zoom': 15, 'latitude': latitude, 'longitude': longitude } %}
    <script type="text/javascript">
        $(function(){
            var $observation = $('#observation');
            var lat = parseFloat($observation.data('latitude'));
            var lgt = parseFloat($observation.data('longitude'));
            var title = $observation.find('h1').text();

            setMarker(title, lat, lgt);
        });
    </script>
{% endblock %}