{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% if error %}
        {% include 'flashMessage/flashMessageContent.html.twig' with {'type':'danger', 'message': error.messageKey|trans(error.messageData, 'security')} %}
    {% endif %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1 class="connexion text-center">{{ 'security.login.title'|trans }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="form-group">
                                        <label for="username" class="control-label">{{ 'security.login.email'|trans }}</label>
                                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
                                        <input type="password" id="password" name="_password" required="required" class="form-control" />
                                    </div>
                                    <div class="checkbox">
                                        <label for="remember_me">
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />  {{ 'security.login.remember_me'|trans }}
                                        </label>
                                    </div>
                                    <div>
                                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn-lg btn-default col-lg-offset-1 col-md-offset-1 col-sm-offset-5 col-xs-offset-5" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <p class="text-right"><a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot_password_text_link'|trans }}</a></p>
                    </div>
                    <a class="" href="{{ path('fos_user_registration_register') }}">{{ 'security.login.inscription_text_link'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}