{% extends "OCCoreBundle::layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/occore/css/bootstrap-datepicker3.min.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }} - Recherche
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="recherche">
                    <h1 class="text-center">RECHERCHE</h1>
                    <p class="text-center">Saisissez vos critères et consultez vos résultats.</p><br/>

                    <div class="well col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-11 col-xs-10">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                        {{ form_errors(form) }}

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ form_label(form.datedebut, "Entre le", {'label_attr': {'class': ' col-lg-4 col-md-4 col-sm-offset-2 col-sm-4 col-xs-5 control-label'}}) }}
                            {{ form_errors(form.datedebut) }}

                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                                {{ form_widget(form.datedebut, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ form_label(form.datefin, "et le", {'label_attr': {'class': 'col-lg-pull-3 col-md-pull-3 col-sm-pull-1 col-lg-3 col-md-4 col-sm-4 col-xs-5 control-label'}}) }}
                            {{ form_errors(form.datefin) }}
                            <div class="col-lg-pull-3 col-md-pull-4 col-lg-4 col-md-5 col-sm-6 col-xs-6">
                                {{ form_widget(form.datefin, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.geo, "Sélectionnez un critère géographique", {'label_attr': {'class': 'col-lg-5 col-md-4 col-sm-6 col-xs-6 control-label'}}) }}
                            {{ form_errors(form.geo) }}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                {{ form_widget(form.geo, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.commune, "Sélectionnez une commune", {'label_attr': {'class': 'col-lg-4 col-md-4 col-sm-6 col-xs-6 control-label'}}) }}
                            {{ form_errors(form.commune) }}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                {{ form_widget(form.commune, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6 col-md-6">
                            {{ form_label(form.especebis, "Sélectionnez une espèce", {'label_attr': {'class': 'col-lg-7 col-md-6 col-sm-6 col-xs-6 control-label'}}) }}
                            {{ form_errors(form.especebis) }}
                            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                                {{ form_widget(form.especebis, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6 col-md-6">
                            {{ form_label(form.espece,"Espèce", {'label_attr': {'class': 'col-lg-pull-1 col-lg-3 col-md-4 col-sm-6 col-xs-6 control-label'}}) }}
                            {{ form_errors(form.espece) }}
                            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-6">
                                {{ form_widget(form.espece, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {{ form_widget(form.Rechercher, {'attr': {'class': 'btn-lg btn-default'}}) }}
                    </div>

                    {{ form_rest(form) }}

                    {{ form_end(form) }}

                    <div class="row">
                        <div class="result col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-1 col-lg-6 col-md-6 col-sm-8 col-xs-8">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11377536.803269157!2d-6.785122310328994!3d45.87693233762985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1469293260473" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="resulttext col-ld-push-1 col-md-push-1 col-sm-offset-2 col-xs-offset-2 col-lg-6 col-md-4 col-sm-10 col-xs-6">
                            <ul>
                                <li>
                                    <h2>Date</h2>
                                    <h3>Commune</h3>
                                    <p>Espèce</p>
                                </li>
                            </ul>

                            <nav class="col-lg-offset-3 col-md-offset-2 col-lg-6 col-md-9 hidden-sm hidden-xs">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2 </a></li>
                                    <li><a href="#">3 </a></li>
                                    <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                                </ul>
                            </nav>
                            <a class="text-center col-sm-pull-2 col-xs-offset-4 col-sm-4 col-xs-8 hidden-lg hidden-md btn-lg btn-default" href="#" role="button">Resultats suivants</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block jquery %}
    {{ parent() }}
    <script src="{{ asset ('bundles/occore/js/bootstrap-datepicker.min.js') }}"></script>
    <script >

        $(document).ready(function () {
            $('#recherche_datedebut').datepicker({
                format: "dd/mm/yyyy",
                language: "fr",
                autoclose: true
            });
            $('#recherche_datefin').datepicker({
                format: "dd/mm/yyyy",
                language: "fr",
                autoclose: true
            });
        });
    </script>


{% endblock %}