{% extends "OCCoreBundle::layout.html.twig" %}


{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/occore/css/bootstrap-datepicker3.min.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }} - Saisie
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="enregistrement">
                    <h1 class="text-center">SAISIE D'UNE OBSERVATION</h1>
                    <p class="text-center">Saisissez les informations relatives à votre observation, ajoutez la position sur la carte puis cliquez sur envoyer.</p>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.date, "Le", {'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-offset-3 col-sm-2 col-xs-offset-4 col-xs-4 control-label'}}) }}
                        {{ form_errors(form.date) }}

                        <div class="col-lg-pull-2 col-sm-pull-2 col-xs-pull-4 col-lg-2 col-md-2 col-sm-2 col-xs-offset-2 col-xs-2">
                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.lieu, "Saisissez le lieu", {'label_attr': {'class': 'col-lg-2 col-md-pull-1 col-md-2 col-sm-pull-2 col-sm-4 col-xs-offset-4 col-xs-5 control-label'}}) }}
                        {{ form_errors(form.lieu) }}

                        <div class="col-lg-3 col-md-pull-3 col-md-3 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                            {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class=" col-lg-6 col-md-8 col-sm-6 col-xs-offset-5 col-xs-6">
                        {{ form_widget(form.Valider, {'attr': {'class': 'btn-lg btn-default'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.especebis, "Sélectionnez une espèce", {'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-pull-1 col-sm-4 col-xs-offset-4 col-xs-5 control-label'}}) }}
                        {{ form_errors(form.especebis) }}
                        <div class=" col-lg-pull-3 col-md-pull-3 col-lg-3 col-md-3 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                            {{ form_widget(form.especebis, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.espece,"Espèce", {'label_attr': {'class': 'col-lg-2 col-md-pull-1 col-md-1 col-sm-pull-1 col-sm-4 col-xs-offset-4 col-xs-5 control-label-espece'}}) }}
                        {{ form_errors(form.espece) }}
                        <div class=" col-lg-3 col-md-pull-2 col-md-3 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                            {{ form_widget(form.espece, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.indiv, "Nombre d'individus observés", {'label_attr': {'class': 'col-lg-3 col-md-pull-2 col-md-4 col-sm-4 col-xs-push-3 col-xs-5 control-label-indiv'}}) }}
                        {{ form_errors(form.indiv) }}

                        <div class="col-lg-pull-3 col-md-pull-3 col-sm-offset-1 col-lg-2 col-md-3 col-sm-2 col-xs-push-2 col-xs-2">
                            {{ form_widget(form.indiv, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.commentaire, "Commentaire", {'label_attr': {'class': 'col-lg-pull-5 col-md-pull-5 col-lg-6 col-md-6 col-sm-pull-2 col-sm-4 col-xs-offset-4 col-xs-5 control-label'}}) }}
                        {{ form_errors(form.commentaire) }}

                        <div class=" col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <a class="text-center col-xs-offset-4 col-sm-3 col-xs-4 btn-lg btn-default" href="#" role="button">Ajouter une photo</a>
                    <div class="result col-lg-offset-3 col-sm-offset-2 col-lg-6 col-md-4 col-sm-8 col-xs-8">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11377536.803269157!2d-6.785122310328994!3d45.87693233762985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1469293260473" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class=" col-lg-6 col-md-8 col-sm-6 col-xs-offset-5 col-xs-6">
                        {{ form_widget(form.Envoyer, {'attr': {'class': 'btn-lg btn-default'}}) }}
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block jquery %}
    {{ parent() }}
<script src="{{ asset ('bundles/occore/js/bootstrap-datepicker.min.js') }}"></script>
<script >

    $(document).ready(function () {
        $('#saisie_date').datepicker({
            format: "dd/mm/yyyy",
            language: "fr",
            autoclose: true
        });
    });
</script>

{% endblock %}


