{% extends "layout.html.twig" %}

{% trans_default_domain('AppBundle') %}

{% block title %}
    {{ parent() }} - {{ 'association.title_page'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <h1 class="titre text-center">{{ 'association.title'|trans|upper }}</h1>
            </div>

            <div class="row">
                <img class="imgoiseau center-block col-sm-6" src="{{ asset('/images/oiseau1.jpg') }}" alt="image oiseau">
                <p class="col-sm-6">{{ 'association.paragraph1'|trans }}<br/><br/>{{ 'association.paragraph2'|trans }}</p>
            </div>
        </div>
    </div>

{% endblock %}