{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="nao">
        <div class="header">
            <h1 class="hidden-sm hidden-xs">OBSERVEZ, PARTAGEZ ET PARTICIPEZ<br> À UN PROGRAMME DE RECHERCHE</h1>
            <h1 class="hidden-lg hidden-md">OBSERVEZ ET PARTAGEZ!</h1>
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-brown btn-lg">Je m'inscris !</a>
        </div>
    </div>

    <div class="container main-home">
        <section>
            <h2 class="text-center titre">NOS AMIS LES OISEAUX</h2>
            <p>Bienvenue sur notre site associatif et collaboratif qui permet de recueillir des données ornithologiques sur toute la France. Ce site vous permet d'enregistrer simplement et rapidement vos observations d'oiseaux, et de consulter les données recueillies.</p>
            <div id="boutons">
                <a href="{{ path('app_observations_list') }}" class="btn btn-action btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i> Saisir une observation</a>
                <a href="{{ path('app_observations_search') }}" class="btn btn-action btn-lg"><i class="fa fa-search" aria-hidden="true"></i> Effectuer une recherche</a>
            </div>
        </section>
        <section>
            <div class="row">
                <h2 class="text-center">DERNIÈRES OBSERVATIONS</h2>
                <div id="map" class="carte col-sm-6 hidden-xs"></div>
                {#<div class="carte col-lg-offset-1 col-md-offset-1 col-lg-4 col-md-4 hidden-sm hidden-xs">#}
                    {#<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5647781.620328719!2d2.951989442325457!3d46.275949317535904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1469042707453" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>#}
                {#</div>#}
                <div class="col-sm-6">
                    <h3 class="dos hidden-xs">Derniers oiseaux observés</h3>
                    <div class="last-obs">
                        {{ render(controller('AppBundle:Observation:lastObservationsValidate', {'nbItems' : 4 })) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    {% include ':Observations:observations_location.js.html.twig' with {'zoom': 5} %}
    <script type="text/javascript">
        $(function(){
            var observationsList = $('#observations-list');

            console.log(observationsList.find('li').length);
            observationsList.find('li').each(function() {
                console.log($(this).data('latitude') + ' - ' + $(this).data('longitude'));
                var lat = parseFloat($(this).data('latitude'));
                var lgt = parseFloat($(this).data('longitude'));
                var title = $(this).data('title');

                setMarker(title, lat, lgt);
            });
        });
    </script>
{% endblock javascript %}